PORT=XXXXXXXX
NODE_ENV=development

MONGO_URI=mongodb://XXXXXX/XXXXXX
CLIENT_URL=http://localhost:5173

JWT_ACCESS_SECRET=XXXXXXXXXXXXXXXX
JWT_REFRESH_SECRET=XXXXXXXXXXXXXXXX
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d